
# Ciência dos Dados - PROJETO 1

## David Fogelman

___
## Introdução

O meu objetivo do projeto é definir a relção da escolaridade com o acesso da internet e a renda

https://tecnologia.uol.com.br/noticias/redacao/2015/04/29/ibge-renda-e-escolaridade-tem-relacao-direta-com-acesso-a-internet.htm

In [4]:
import pandas as pd
import matplotlib.pyplot as plt
import os
print('Esperamos trabalhar no diretório')
print(os.getcwd())
print("ok")

Esperamos trabalhar no diretório
E:\Semestre 2\Ciência dos Dados\Projetos\InsperEng-CD
ok

In [7]:
dados = pd.read_csv('Dados_selecionados.csv')
print("ok")
# dados = dados["UF"]
lista = ["UF", "V8005", "V06111", "V4750", "V4745"]
dados = dados.loc[:,lista]
dados

ok

        UF  V8005  V06111         V4750  V4745
0       11     23     1.0  8.000000e+02      5
1       11     23     1.0  1.150000e+03      5
2       11     35     1.0  7.930000e+02      6
3       11     34     1.0  7.930000e+02      7
4       11     11     1.0  7.930000e+02      2
5       11      7     NaN  7.930000e+02      2
6       11      4     NaN  7.930000e+02      1
7       11     18     1.0  7.930000e+02      5
8       11     46     3.0  2.900000e+03      2
9       11     81     3.0  2.900000e+03      2
10      11     71     1.0  1.990000e+03      2
11      11     47     3.0  3.500000e+02      3
12      11     24     1.0  3.500000e+02      5
13      11     28     3.0  1.333000e+03      5
14      11     50     3.0  1.333000e+03      3
15      11      1     NaN  1.333000e+03      1
16      11     34     1.0  8.180000e+02      5
17      11     35     1.0  8.180000e+02      5
18      11     16     1.0  8.180000e+02      3
19      11     11     1.0  8.180000e+02      2
20      11      3     NaN  8.180000e+02      1
21      11     57     1.0  1.716000e+03      5
22      11     51     1.0  1.716000e+03      5
23      11     16     1.0  1.716000e+03      4
24      11     60     1.0  2.500000e+03      5
25      11     50     1.0  1.400000e+03      6
26      11     30     1.0  1.400000e+03      7
27      11     26     1.0  6.660000e+02      5
28      11     20     1.0  6.660000e+02      4
29      11      1     NaN  6.660000e+02      1
...     ..    ...     ...           ...    ...
356874  53     15     1.0  1.000000e+12      2
356875  53     54     3.0  2.810000e+02      1
356876  53     47     3.0  2.810000e+02      1
356877  53     24     1.0  2.810000e+02      5
356878  53     22     1.0  2.810000e+02      4
356879  53     20     1.0  2.810000e+02      2
356880  53     28     1.0  2.810000e+02      5
356881  53     30     1.0  7.750000e+02      2
356882  53     31     1.0  7.750000e+02      2
356883  53      9     NaN  7.750000e+02      2
356884  53      4     NaN  7.750000e+02      1
356885  53     32     1.0  6.750000e+02      5
356886  53     30     1.0  6.750000e+02      2
356887  53      4     NaN  6.750000e+02      1
356888  53      1     NaN  6.750000e+02      1
356889  53     34     1.0  1.000000e+02      2
356890  53      9     NaN  1.000000e+02      2
356891  53      6     NaN  1.000000e+02      1
356892  53      5     NaN  1.000000e+02      1
356893  53      2     NaN  1.000000e+02      1
356894  53     57     3.0  7.960000e+02      1
356895  53     36     1.0  7.960000e+02      7
356896  53     18     1.0  7.960000e+02      5
356897  53     57     3.0  7.500000e+02      2
356898  53     33     1.0  7.500000e+02      7
356899  53     38     1.0  2.590000e+02      2
356900  53     39     1.0  2.590000e+02      2
356901  53     17     1.0  2.590000e+02      4
356902  53     15     1.0  2.590000e+02      3
356903  53      7     NaN  2.590000e+02      1

[356904 rows x 5 columns]

In [3]:
dados.UF.describe()

count    151189.000000
mean         31.748216
std          10.915349
min          11.000000
25%          25.000000
50%          31.000000
75%          41.000000
max          53.000000
Name: UF, dtype: float64